## Correlation Analysis among different stocks.

import pandas as pd
import numpy as np
from scipy import stats
import pandas_datareader.data as pdr
import matplotlib.pyplot as plt
%matplotlib inline
import datetime as dt
import yfinance as yf
yf.pdr_override()

### Step 1: Fetch data for various canadian stocks.

In [32]:
tickers = ['BNS.TO', 'NFLX','AMZN','AAPL','ENB','CTC.TO','WMT']
start = dt.datetime(2021,1,1)

data = pdr.get_data_yahoo(tickers,start)

[*********************100%***********************]  7 of 7 completed

In [33]:
data = data['Adj Close']
data.head()

,AAPL,AMZN,BNS.TO,CTC.TO,ENB,NFLX,WMT
Date,,,,,,,
2021-01-04 05:00:00+00:00,127.874939,159.331497,61.183060,199.567276,28.056238,522.859985,142.004074
2021-01-05 05:00:00+00:00,129.455963,160.925507,61.372791,199.086380,29.258522,520.799988,141.248199
2021-01-06 05:00:00+00:00,125.098274,156.919006,61.887772,198.605515,28.942591,500.489990,142.130051
2021-01-07 05:00:00+00:00,129.367035,158.108002,62.330460,200.529053,29.574453,508.890015,142.120361
2021-01-08 05:00:00+00:00,130.483627,159.134995,61.490238,200.529053,29.267298,510.399994,142.100998

### Step 2: Find log returns for adjusted close price of Stock.

In [34]:
log_returns = np.log(data/data.shift())

In [42]:
log_returns.head()

,AAPL,AMZN,BNS.TO,CTC.TO,ENB,NFLX,WMT,SP500
Date,,,,,,,,
2021-01-04 05:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-05 05:00:00+00:00,0.012288,0.009955,0.003096,-0.002413,0.041960,-0.003948,-0.005337,0.007058
2021-01-06 05:00:00+00:00,-0.034241,-0.025212,0.008356,-0.002418,-0.010857,-0.039778,0.006224,0.005694
2021-01-07 05:00:00+00:00,0.033554,0.007549,0.007128,0.009639,0.021597,0.016644,-0.000068,0.014738
2021-01-08 05:00:00+00:00,0.008594,0.006475,-0.013572,0.000000,-0.010440,0.002963,-0.000136,0.005477

### Step 3: Find correlation among stocks.

In [35]:
log_returns.corr()

            AAPL      AMZN    BNS.TO    CTC.TO       ENB      NFLX       WMT
AAPL    1.000000  0.660915  0.358686 -0.011146  0.392838  0.448925  0.309751
AMZN    0.660915  1.000000  0.328856 -0.000856  0.385161  0.533429  0.263124
BNS.TO  0.358686  0.328856  1.000000 -0.008423  0.492511  0.213340  0.171116
CTC.TO -0.011146 -0.000856 -0.008423  1.000000 -0.025585 -0.000502 -0.077628
ENB     0.392838  0.385161  0.492511 -0.025585  1.000000  0.246634  0.262756
NFLX    0.448925  0.533429  0.213340 -0.000502  0.246634  1.000000  0.160191
WMT     0.309751  0.263124  0.171116 -0.077628  0.262756  0.160191  1.000000

### Step 4: Add S&P500 to compare with stocks.

In [36]:
SP500 = pdr.get_data_yahoo('^GSPC',start)

[*********************100%***********************]  1 of 1 completed

In [37]:
log_returns['SP500'] = np.log(SP500['Adj Close']/SP500['Adj Close'].shift())

In [38]:
log_returns.corr()

,AAPL,AMZN,BNS.TO,CTC.TO,ENB,NFLX,WMT,SP500
AAPL,1.000000,0.660915,0.358686,-0.011146,0.392838,0.448925,0.309751,0.823296
AMZN,0.660915,1.000000,0.328856,-0.000856,0.385161,0.533429,0.263124,0.756514
BNS.TO,0.358686,0.328856,1.000000,-0.008423,0.492511,0.213340,0.171116,0.568220
CTC.TO,-0.011146,-0.000856,-0.008423,1.000000,-0.025585,-0.000502,-0.077628,-0.005323
ENB,0.392838,0.385161,0.492511,-0.025585,1.000000,0.246634,0.262756,0.580276
NFLX,0.448925,0.533429,0.213340,-0.000502,0.246634,1.000000,0.160191,0.524789
WMT,0.309751,0.263124,0.171116,-0.077628,0.262756,0.160191,1.000000,0.391175
SP500,0.823296,0.756514,0.568220,-0.005323,0.580276,0.524789,0.391175,1.000000

### Step 5: Define a function that autometically gets added to correlation matrix.

In [39]:

def test_correlation(ticker):
    df = pdr.get_data_yahoo(ticker,start)
    lr = log_returns.copy()
    lr[ticker] = np.log(df['Adj Close']/df['Adj Close'].shift())
    return lr.corr()

In [40]:
test_correlation('RY-PO.TO')

[*********************100%***********************]  1 of 1 completed

,AAPL,AMZN,BNS.TO,CTC.TO,ENB,NFLX,WMT,SP500,RY-PO.TO
AAPL,1.000000,0.660915,0.358686,-0.011146,0.392838,0.448925,0.309751,0.823296,0.064056
AMZN,0.660915,1.000000,0.328856,-0.000856,0.385161,0.533429,0.263124,0.756514,0.015953
BNS.TO,0.358686,0.328856,1.000000,-0.008423,0.492511,0.213340,0.171116,0.568220,0.089494
CTC.TO,-0.011146,-0.000856,-0.008423,1.000000,-0.025585,-0.000502,-0.077628,-0.005323,-0.023901
ENB,0.392838,0.385161,0.492511,-0.025585,1.000000,0.246634,0.262756,0.580276,0.123405
NFLX,0.448925,0.533429,0.213340,-0.000502,0.246634,1.000000,0.160191,0.524789,0.034237
WMT,0.309751,0.263124,0.171116,-0.077628,0.262756,0.160191,1.000000,0.391175,-0.006286
SP500,0.823296,0.756514,0.568220,-0.005323,0.580276,0.524789,0.391175,1.000000,0.079076
RY-PO.TO,0.064056,0.015953,0.089494,-0.023901,0.123405,0.034237,-0.006286,0.079076,1.000000